body {
  background: black;
}

.clockdiv {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: yellow;
  font-size: 60px;
  font-family: Orbitron;
  letter-spacing: 7px;
}
